$default-font: "montserrat", "roboto", sans-serif
$accent: #239ddb
$white: #fff
$black: #4e4e4e
$gray: #516272
$button-link: #516272
$button-link-hover: #e5f4ff
$blue: #2951d5
$color-f2: #f2f7fa
$color-e5: #e5f4ff

